
*.c3d

Data/DataCollection/c3d_files/participant_01/

Data/DataCollection/

Data/Pictures/

*.mp4

Plots/

.idea/

__pycache__/

Dynamique/results_multiple_static_optim_in_a_row/

Dynamique/results/

*.png
